<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liu.crm.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.liu.crm.vo.User" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
      id,user_name,password
    from t_usr
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_usr
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liu.crm.vo.User" >
    insert into t_usr (id, user_name, password
    )
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
           )
  </insert>
  <insert id="insertSelective" parameterType="com.liu.crm.vo.User" >
    insert into t_usr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liu.crm.vo.User" >
    update t_usr
    <set>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liu.crm.vo.User" >
    update t_usr
    set user_name = #{userName,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--通过用户名查询用户记录，返回用户对象-->
  <select id="queryUserByName" parameterType="string" resultType="com.liu.crm.vo.User">
    select
      id,user_name,password
    from
      t_usr
    where
      user_name = #{userName}
  </select>

  <!--多条件查询-->
  <select id="selectByParams" parameterType="UserQuery" resultType="com.liu.crm.vo.User">
    select
        id,user_name,password
    from
        t_usr
    <where>
      <if test="userName != null and userName !=''">
        and user_name =#{userName}
      </if>
    </where>
  </select>


  <!--批量删除（修改操作）-->
  <delete id="deleteBatch">
    delete from t_usr
    where
    id
    in
    <foreach collection="array" separator="," open="(" close=")" item="id">
      #{id}
    </foreach>
  </delete>
</mapper>